::ng-deep .snackbar-background {
  background: var(--color-Glass-Blue-plus-1);
}

::ng-deep .mat-snack-bar-container {
  border-radius: 2em;
  // padding: 7px 14px;
  padding: 7px 8px;
  min-height: 44px;
}

.toolsBox {
  display: flex;
  align-items: center;
}

.tools {
  min-width: 1.5em;
  text-align: center;

  white-space: nowrap;

  margin: 0 .5em;

  img {
    height: 1.8rem;
  }
}
