<footer>
  <div class="row justify-content-around align-items-center w-100">
    <div class="col-2 col-sm-4"></div>
    <div class="col-8 col-sm-4">
      <div class="row d-flex h-100 justify-content-between text-center">
        <div class="col-2 contact">
          <button
            mat-icon-button
            matTooltip="Not available yet"
            matTooltipClass="tooltip-red"
            aria-label="redirect to "
          >
            <i class="fab fa-facebook-f"></i>
          </button>
        </div>

        <div class="col-2 contact">
          <button
            mat-icon-button
            matTooltipClass="tooltip-red"
            aria-label="redirect to "
          >
            <a href="mailto:bartosz.galaszewicz@gmail.com">
              <i class="far fa-envelope"></i>
            </a>
          </button>
        </div>

        <div class="col-2 contact">
          <button
            mat-icon-button
            matTooltipClass="tooltip-red"
            aria-label="redirect to "
          >
            <a
              href="https://www.linkedin.com/in/bartosz-galaszewicz/"
              target="_blank"
            >
              <i class="fab fa-linkedin"></i>
            </a>
          </button>
        </div>

        <div class="col-2 contact">
          <button
            mat-icon-button
            matTooltip="Not available yet"
            matTooltipClass="tooltip-red"
            aria-label="redirect to "
          >
            <i class="fab fa-twitter"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="col-2 col-sm-4"></div>
  </div>
</footer>
