<div class="container">
  <nav id="navbar" class="navbar navbar-expand-sm fixed-top ml-0 pl-0">
    <a class="navbar-brand pointer" id="goToMainWelcome"
      ><i class="fas fa-paper-plane"></i
    ></a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <!-- <div class="spacer mx-auto"></div> -->
      <ul class="navbar-nav" id="navLinks">
        <li class="nav-item">
          <a class="nav-link" href="#thirdSectiotn">Work</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#certificatesSection">Courses</a>
        </li>
        <li class="nav-item">
          <a
            id="profile-link"
            class="nav-link"
            href="https://github.com/PositivePerson"
            target="_blank"
            >Github</a
          >
        </li>
      </ul>
    </div>
  </nav>
</div>
