
nav a {
	color: rgb(237, 235, 216);
}

nav {
	background-color: transparent;
	margin-top: 0;
	font-weight: 400;
	font-family: 'Bellota Text', cursive;
	font-size: 1.2em;
}

a.nav-link {
	padding: 0;
}

.navbar {
	padding-left: 1.5em;
	padding-top: 0.3em;
	letter-spacing: 0.08em;
}

.navbar .notscrolled {
  background: transparent;
  transition: background 500ms;
  box-shadow: none;
}

.navbar.scrolled {
	background: #28272b ;
	transition: background 500ms;
    box-shadow:
                0 3px 5px -1px rgba(0, 0, 0, .2),
                0 6px 10px 0 rgba(0, 0, 0, .14),
                0 1px 18px 0 rgba(0, 0, 0, .12);
}

.navbar.scrolledLower {
	background: rgb(49, 46, 55);
	transition: background 500ms;
    box-shadow:
                0 3px 5px -1px rgba(0, 0, 0, .2),
                0 6px 10px 0 rgba(0, 0, 0, .14),
                0 1px 18px 0 rgba(0, 0, 0, .12);
}

#goToMainWelcome {
	font-size: 1.6em;
	padding-right: 1em;
	padding-left: 1em;
  margin: 0;
}

#goToMainWelcome i {
  cursor: pointer;
}
