
#About_me {
	/* height: 15em; */
	width: 100%;
	justify-content: center;
	/* padding-top: 25%; */
	margin-left: 0;
  z-index: 100;
}

p {
  color: rgb(237, 235, 216);
  font-family: 'Lobster', cursive;
  font-size: 1.8em;
	align-items: center;
}

img {
  height: 15.5em;
}

/* style scroll-animated things */
section {
  height: 100vh !important;
  position: relative;
}
