
/* style scroll-animated things */
section {
  height: 100vh !important;
  position: relative;

  /* background: #28272b; */
  background: var(--color-success);
}

p {
  color: rgb(237, 235, 216);
  font-family: 'Lobster', cursive;
  font-size: 1.8em;
	align-items: center;
}

img {
  height: 15.5em;
}

#container {
  max-width: 75%;
  height: 100%;
}

#About_me {
	/* height: 15em; */
	width: 100%;
	justify-content: center;
	/* padding-top: 25%; */
	margin-left: 0;
  z-index: 100;
}

#nextPage {
  display: flex;
  align-items: center;

  position: absolute;
  bottom: 0;
  padding-bottom: 1.4em;
  padding-top: 2em;

  width: 100%;
}

#nextPage i {
  margin-left: auto;
  margin-right: auto;

  font-size: 3em;
}

