<section
  class="container-fluid justify-content-center d-flex"
  id="secondSection"
>
  <div
    class="container-flex align-items-center d-flex align-content-around flex-wrap py-5"
    id="container"
  >
    <div class="row text-center" id="About_me">
      <!-- <div class="col-1"></div> -->
      <div class="col-12 col-md-3 pr-0 pb-5 pb-md-0">
        <img src="../../assets/imgs/profile.png" alt="" id="profilePNG" />
      </div>
      <div
        class="col-12 col-md-7 col-lg-6 col-xl-5 d-flex align-content-end flex-wrap"
      >
        <p id="firstDesc">
          I am self-development passionate. I am usually coding, learning or
          solving any problem. If not - I may be studying ;)
        </p>
      </div>
      <div class="col-md-2 col-lg-3"></div>
    </div>

    <div class="row text-center">
      <div class="col-md-4 col-lg-5"></div>
      <div class="col-12 col-md-8 col-lg-7">
        <p id="secondDesc">
          Eager looking for possibility to learn from experienced. Going through
          lot of courses to become better day after day, and on top of all
          trying new different ways to acquire next skills even faster.
        </p>
      </div>
    </div>
  </div>

  <div id="nextPage"><i class="fas fa-angle-double-down"></i></div>
</section>
