<section
  class="container-fluid"
  id="secondSection"
>
  <div
    class=""
    id="container"
  >
    <div class="row justify-content-end" id="About_me">
      <div
        class="col-12 col-md-7 col-lg-4 col-xl-5 px-0"
      >
        <p id="firstDesc">
          I am self-development frontend passionate. I am usually coding or
          solving problems. If not - I may be studying :)
        </p>
      </div>
      <!-- <div class="col-md-2 col-lg-3"></div> -->
    </div>

    <div class="row justify-content-end">
      <!-- <div class="col-md-4 col-lg-5"></div> -->
      <div class="col-12 col-md-8 col-lg-6">
        <p id="secondDesc">
          Eager looking for possibility to learn from experienced. Going through
          a lot of courses to become better day after day, and on top of all
          trying new, different ways to acquire next skills even faster.
        </p>
      </div>
    </div>
  </div>

  <div id="web_window">
    <img src="../../assets/imgs/web_window.svg" alt="Web window drawing">
  </div>

  <div id="web_tasks_checking">
    <img src="../../assets/imgs/web_tasks_checking.svg" alt="Man with windows drawing">
  </div>

  <div class="btnBox">
    <button mat-raised-button (click)="scrollToWorks()">Check my <span class="orange">works</span></button>
    <img src="../../assets/imgs/2_arrows_down.svg" alt="Arrows down">
  </div>

  <div class="wave">
    <img src="../../assets/imgs/wave.svg" alt="Wave line">
  </div>

</section>
