<section class="container-fluid" id="thirdSectiotn">

  <section class="sticky">

      <div class="row align-items-center py-3 projects">

        <div class="col-1"></div>

        <!-- <div data-scroll="addHeight"> -->
          <div class="col-3 d-flex justify-content-center">
            <a href="https://fun-riding.herokuapp.com/"><img id="office" src="../../assets/imgs/yelpcamp.png" round/></a>
          </div>
        <!-- </div> -->

        <div class="col-8 text-left description-left h-100">

        <blockquote>

          <div class="description text-center">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
          </div>

        </blockquote>

        <span id="spann"></span>

        </div>

      </div>

      <div class="expandDesc">

        <div class="projectInfo">
          <i class="fas fa-chevron-down"></i>
        </div>

        <div class="row px-3 mx-3 specificProjectDescription">
          <div class="col-2"></div>

          <div class="col-3">
            <ul>
              <li><i class="fas fa-clipboard-check"></i><span> Javascript</span></li>
              <li><i class="fas fa-clipboard-check"></i><span> Jquery</span></li>
            </ul>
          </div>
          <div class="col-3">
            <ul>
              <li><i class="fas fa-clipboard-check"></i><span>HTML</span></li>
              <li><i class="fas fa-clipboard-check"></i><span>CSS</span></li>
            </ul>
          </div>
          <div class="col-3">
            <ul>
              <li><i class="fas fa-clipboard-check"></i><span>Bootstrap</span></li>
              <li><i class="fas fa-clipboard-check"></i><span>Semantic</span></li>
            </ul>
          </div>

          <div class="col-1"></div>
        </div>

      </div>

      <hr>

      <div class="row d-flex align-items-center py-3 projects">

        <div class="col-8 text-left description-right">
          <div class="description text-center">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
          </div>
        </div>

        <div class="col-3 d-flex justify-content-center">
          <a href="https://positiveperson.github.io/To-Do-List/"><img id="building" src="../../assets/imgs/TodoPage.png" round/></a>
        </div>

        <div class="col-1"></div>

      </div>

      <div class="expandDesc">

        <div class="projectInfo">
          <i class="fas fa-chevron-down"></i>
        </div>

        <div class="row px-3 mx-3 specificProjectDescription">
          <div class="col-2"></div>

          <div class="col-3">
            <ul>
              <li><i class="fas fa-clipboard-check"></i><span> Javascript</span></li>
              <li><i class="fas fa-clipboard-check"></i><span> Jquery</span></li>
            </ul>
          </div>
          <div class="col-3">
            <ul>
              <li><i class="fas fa-clipboard-check"></i><span>HTML</span></li>
              <li><i class="fas fa-clipboard-check"></i><span>CSS</span></li>
            </ul>
          </div>
          <div class="col-3">
            <ul>
              <li><i class="fas fa-clipboard-check"></i><span>Bootstrap</span></li>
              <li><i class="fas fa-clipboard-check"></i><span>Semantic</span></li>
            </ul>
          </div>

          <div class="col-1"></div>
        </div>

      </div>

      <div id="box"></div>

      <hr>

      <div class="row d-flex align-items-center py-3 projects">

        <div class="col-1"></div>

        <div class="col-3 d-flex justify-content-center">
          <a href="https://positiveperson.github.io/MuseumOfCandy/"><img src="../../assets/imgs/CandyPage.png" round/></a>
        </div>

        <div class="col-8 text-left description-left">
          <div class="description text-center">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
          </div>
        </div>

      </div>

      <hr>

      <div class="row d-flex align-items-center py-3 projects">

        <div class="col-8 text-left description-right">
          <div class="description text-center">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
          </div>
        </div>

        <div class="col-3 d-flex justify-content-center">
          <a href="https://positiveperson.github.io/CircleSite/"><img src="../../assets/imgs/circlesv2.png" round/></a>
        </div>

        <div class="col-1"></div>

      </div>

  </section>

</section>
