<section class="container-fluid" id="thirdSection">
    <div
      *ngFor="
        let project of projects;
        let even = even;
        let odd = odd;
        let isLast = last
      "
      class="row overflow-hidden d-block position-relative"
    >
      <!-- ---------------------------------- EVEN ---------------------------------------------- -->

      <div class="row align-items-center projects" *ngIf="odd">
        <div class="d-none d-md-block col-1 col-xl-3"></div>

        <div class="col-12 col-md-3 col-xl-2 d-flex justify-content-center imgBox">
          <a
            href="{{ project.link }}"
            #animatedElement
            class="anim"
            data-animation="1"
            data-delay=".3s"
            ><img src="../../assets/imgs/{{ project.img }}" #img round
          /></a>
        </div>

        <div class="d-none d-md-block col-2 col-xl-1"></div>

        <div
          class="col-12 col-md-4"
          [ngClass]="{ 'description-left': even, 'description-right': odd }"
        >
          <div
            *ngFor="let line of project.description; let i = index;"
            class="description d-flex pl-xl-1 pr-xl-3">
            <p
              class="ml-auto mr-xl-5 anim"
              #animatedElement
              data-animation="1"
              [attr.data-delay]="i*0.2 + 's'"
            >
              {{ line }}
            </p>
          </div>

        </div>

        <div class="d-none d-md-block col-2"></div>
      </div>

      <!-- ---------------------------------- ODD ---------------------------------------------- -->

      <div
        class="row d-flex flex-row-reverse flex-md-row align-items-center projects"
        *ngIf="even"
      >

        <div class="d-md-none col-12 col-md-3 col-xl-2 d-flex justify-content-center imgBox">
          <a
            href="{{ project.link }}"
            #animatedElement
            class="anim"
            data-animation="1"
            data-delay=".3s"
            ><img src="../../assets/imgs/{{ project.img }}" #img round
          /></a>
        </div>

        <div class="d-none d-md-block col-2"></div>

        <div
          class="col-12 col-md-4"
          [ngClass]="{ 'description-left': even, 'description-right': odd }"
        >
          <div
            *ngFor="let line of project.description; let i = index;"
            class="description d-flex pl-xl-3 pr-xl-1">
            <p
              class="ml-xl-5 anim"
              #animatedElement
              data-animation="1"
              [attr.data-delay]="i*0.2 + 's'"
            >
            {{ line }}
            </p>
          </div>
        </div>

        <div class="d-none d-md-block col-2 col-xl-1"></div>

        <div class="d-none col-12 col-md-3 col-xl-2 d-md-flex justify-content-center imgBox">
          <a
            href="{{ project.link }}"
            #animatedElement
            class="anim"
            data-animation="1"
            data-delay=".3s"
            ><img src="../../assets/imgs/{{ project.img }}" #img round
          /></a>
        </div>

        <div class="d-none d-md-block col-1 col-xl-3"></div>
      </div>

      <!-- ---------------------------------- ODD & EVEN----------------------------------------- -->

      <div
            class="showToolsButtonDiv w-100"
          >
            <button
              mat-raised-button
              class="showToolsButton"
              (click)="openSnackBar(project.id)"
              aria-label="Show tools used in project"
            >
              Tools
            </button>
          </div>

      <!-- <div class="expandDesc" *ngIf="!isLast">
        <div class="projectInfo">
          <i class="fas fa-chevron-down"></i>
        </div>
      </div> -->
    </div>
  </section>
