// .mat-snack-bar-container {
// 	max-width: 90vh !important;
// }

.mat-snack-bar-container {
  max-width: none !important;
}

a:hover {
  color: rgb(237, 235, 216);
}

a.nav-link {
  padding: 0;
}

hr {
  background: rgba(40, 39, 43, 0.7);
}

hr:last-of-type {
  display: none;
}

.projects a {
  cursor: default;
}

/* nav a {
	color: rgb(237, 235, 216);
} */

.anim {
  opacity: 0;
}

@keyframes anim1 {
  from {
    transform: translateY(80px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes anim2 {
  from {
    transform: translateY(30px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.description {
  text-align: left;
  // justify-content: center;
}

.description-left {
  /* padding-right: 10em; */
}

.description-left p {
  text-align: start;
}

.description-right {
  /* padding-left: 10em; */
}

.description-right p {
  text-align: start;
}

.description p {
  font-size: 1.35em;
}

.projects {
  align-items: center;
  position: relative;

  height: 100vh;

  padding-top: 4.5em;
  padding-bottom: 4.5em;

  overflow: hidden;
}

.projects:hover + .expandDesc i {
  /* background: red;  */
  opacity: 1;
  /* -webkit-animation: fadeinout 4s linear forwards;
    animation: fadeinout 4s linear forwards; */
}

.projects img {
  border-radius: 13%;
  object-fit: cover;
  width: 25em;
  height: 25em;
}

.projects a {
  cursor: default;
}

.projects a img {
  cursor: pointer;

  /* z-index: 5; */

  -webkit-box-shadow: 1px 1px 15px -3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 1px 15px -3px rgba(0, 0, 0, 0.75);
  box-shadow: 1px 1px 15px -3px rgba(0, 0, 0, 0.75);
}

.expandDesc {
  margin-top: -3em;

  position: relative;
  transition: height 0.5s;
  -webkit-transition: height 0.5s;
  overflow: hidden;
}

.projectInfo {
  text-align: center;

  width: 20%;
  margin: auto;
}

.projects:hover + .expandDesc .projectInfo i {
  opacity: 1;
  -webkit-transition: transform 150ms ease-in-out, opacity 0.2s ease-in-out;
  transition: transform 150ms ease-in-out, opacity 0.2s ease-in-out;
}

.projectInfo i {
  font-size: 2.5em;
  opacity: 0;
  -webkit-transition: transform 150ms ease-in-out, opacity 0.2s ease-in-out;
  transition: transform 150ms ease-in-out, opacity 0.2s ease-in-out;
}

.imgLineLeft {
  /* opacity: 0; */

  position: absolute;
  width: 70vh;
  height: 3.5px;
  background: rgb(237, 235, 216);
  top: -4em;
  left: -16em;

  /* z-index: 1; */
}

.imgLineRight {
  /* opacity: 0; */

  position: absolute;
  width: 70vh;
  height: 3.5px;
  background: rgb(237, 235, 216);
  top: -4em;
  left: -9em;

  /* z-index: 1; */
}

.descLineRight {
  position: absolute;
  width: 50vh;
  height: 2.5px;
  background: rgb(237, 235, 216);
  left: 1em;
  /* z-index: 5; */
  margin-top: 5.5em;
}

.descLineLeft {
  position: absolute;
  width: 50vh;
  height: 2.5px;
  background: rgb(237, 235, 216);
  left: 5em;
  /* z-index: 5; */
}

.showToolsButtonDivRight {
  position: absolute;
  text-align: center;
  padding-top: 4em;
  margin-left: -2em;
}

.showToolsButtonDivLeft {
  position: absolute;
  text-align: center;
  padding-top: 4em;
  margin-left: 2em;
}

.showToolsButtonDiv {
  position: absolute;
  text-align: center;
  bottom: 13%;
}

.showToolsButton {
  border-radius: 18px !important;
  font-family: inherit !important;

  font-weight: 700;
  font-size: 1rem;
  color: var(--color-Contrast) !important;
}

// .turnArrowUp i {
// 	transform: rotate(180deg);
// }

.specificProjectDescription {
  margin-top: 0;
  padding-top: 0;
  font-size: 1.5em;

  width: 85%;
  height: 0;
  position: relative;
  transition: height 0.5s;
  -webkit-transition: height 0.5s;
  overflow: hidden;
}

.projectInfo:hover ~ .specificProjectDescription {
  height: 168px;
}

.specificProjectDescription:hover {
  height: 168px;
}

.specificProjectDescription .col-3 {
  padding: 0px;
}

.specificProjectDescription .col-3 li {
  margin-top: 1em;
  margin-bottom: 1.5em;
  list-style: none;
  position: relative;
}

.specificProjectDescription .col-3 li i {
  font-size: 1.5em;
  position: absolute;
  /* margin-top: -6px; */
  /* margin: 5px 5px 0px 0px; */
}

.specificProjectDescription .col-3 li span {
  margin-left: 42px;
}

/* scrolltrigger */
.visible,
.invisible {
  opacity: 0;
  transition: opacity 0.9s ease;
}
.visible {
  opacity: 1;
}

/* style scroll-animated things */
section #thirdSectiotn {
  position: relative;
  box-sizing: border-box;
}

section blockquote {
  width: 30%;
  position: absolute;
}

section span {
  width: 100%;
  // background: red;
  height: 5px;
  margin-top: 20px;
}

.imgBox a {
  position: relative;
  cursor: pointer;
}

.imgBox a::before {
  border-radius: 13%;
  content: ' ';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.5);

  opacity: 0;
  transition: all 350ms;
}

// ------------------ X S ------------------
@media (max-width: 575.98px) {
  .projects {
    height: 80vh;

    padding-top: 0;
  }
  .projects img {
    width: 10em;
    height: 10em;
  }
  .description p {
    font-size: 1.0em;
    text-indent: 1em;

    margin-top: 1em;
    margin-bottom: 1em;
  }
  .showToolsButtonDivLeft,
  .showToolsButtonDivRight {
    position: initial;

    padding-top: .5em;
    margin-left: 0;
    margin-right: 0;
  }
  .imgBox {
    margin-top: auto;
  }
  .expandDesc {
    display: none;
  }
}

// ------------------S M A L L ------------------
@media (min-width: 576px) and (max-width: 767.98px) {
  .projects {
    padding: 0;
  }
  .projects img {
    width: 13em;
    height: 13em;
  }
  .description p {
    font-size: 1.05em;
    text-indent: 2em;
  }
  .projects {
    // height: 100%;
  }
  .showToolsButtonDivLeft,
  .showToolsButtonDivRight {
    position: initial;

    padding-top: 1em;
    margin-left: 0;
    margin-right: 0;
  }
  .imgBox {
    margin-top: auto;
  }
  .expandDesc {
    margin-top: -2em;
  }
  .description {
    width: 80%;
    margin: auto;
  }
}

// ------------------ M E D I U M ------------------
@media (min-width: 768px) and (max-width: 991.98px) {
  .projects img {
    width: 16em;
    height: 16em;
  }
  .description p {
    font-size: 1.2em;
  }
  .imgBox a:hover::before {
    opacity: 1;
  }
}
// ------------------ L A R G E ------------------
@media (min-width: 992px) and (max-width: 1199.98px) {
  .projects img {
    width: 16em;
    height: 16em;
  }
  .description p {
    background: var(--color-Glass-Blue);
    // padding: 7px 12px 8px 12px;
    // font-size: .9375rem;
    padding: 8px 13px 9px 13px;
    font-size: .95rem;
    border-radius: 18px;
  }
  .imgBox a:hover::before {
    opacity: 1;
  }
}

// ------------------ X L ------------------
@media (min-width: 1200px) {
  .imgBox a:hover::before {
    opacity: 1;
  }
}
