* {
	font-family: "Lobster Two", cursive;
  font-style: italic;
}

#underStartPage {
	/* max-width: 75%; */
	padding-left: 0;
	padding-right: 0;

	color: var(--default-letters);
}

#projectsInfo {
	padding-top: 3em;
	padding-bottom: 3em;
	opacity: 0.9;

	font-weight: 400;
	letter-spacing: 0.18em;
	font-size: 1.8em;
}

// ------------------ X S ------------------
@media (max-width: 575.98px) {
	#projectsInfo {
		padding-top: 1.5em;
		padding-bottom: 1.5em;
		padding-bottom: 0;
	}
}

// ------------------S M A L L ------------------
@media (min-width: 576px) and (max-width: 767.98px) {
	#projectsInfo {
		padding-bottom: 0;
	}
}

// ------------------ M E D I U M ------------------
@media (min-width: 768px) and (max-width: 991.98px) {
	#projectsInfo {
		padding-bottom: 0;
	}
}

// ------------------ L A R G E ------------------
@media (min-width: 992px) and (max-width: 1199.98px) {
	#projectsInfo {
		padding-bottom: 1.5em;
	}
}

// ------------------ L A R G E ------------------
@media (min-width: 1200px) {
}
