<!-- parallax
  [config]="{ initialValue: 0, speed: -0.05 }" -->
<section class="some-parallax w-100" id="welcome-section">
  <div class="d-flex align-items-center h-100 p-0 pb-5 m-0">
    <div class="row w-100 m-0" id="mainArea">
      <div class="row w-100 mb-3 ml-0">
        <div class="col-12 text-center p-0" id="firstWelcomeLine">
          <h1 id="mainWelcome" class="pointer">Hey I am Bartek</h1>
        </div>
      </div>

      <div class="row w-100 mt-3 ml-0" style="overflow: hidden;">
        <div class="col-12 text-center p-0" id="secondWelcomeLine">
          <h1 id="mainWelcome" class="pointer">Welcome to my personal portfolio</h1>
        </div>
      </div>
    </div>
  </div>

  <button id="btnDive" mat-raised-button (click)="accessButton()" (mouseenter)="mouseenterButton()" (mouseleave)="mouseleaveButton()">Let's dive into</button>
</section>
