#welcome-section {
	background-image: url("https://images.unsplash.com/photo-1584078959976-147afc217e57?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80");
	background-size: cover;
	background-attachment: fixed;
	height: 100%;
}

#firstWelcomeLine {
	font-size: 1.5rem;
}

#secondWelcomeLine {
	font-size: 0.9rem;
}

#firstWelcomeLine,
#secondWelcomeLine {
	display: inline-block;
	position: relative;
	background: -webkit-gradient(
		linear,
		left top,
		right top,
		color-stop(50%, rgba(0, 0, 0, 0)),
		color-stop(50.001%, rgba(49, 46, 55, 0.8))
	);
	/* 89, 88, 103, 0.875 */
	background-size: 200% 100%;
	background-position: 0 0;
	-webkit-transition: background-position 0.3s ease;
}

#mainArea:hover #firstWelcomeLine {
	background-position: -100% 0;
}

#mainArea:hover #secondWelcomeLine {
	background-position: 100% 0;
}

.pointer {
	cursor: pointer;
}

/* #welcome-section {
  height: 100vh !important;
} */

h1 {
	font-size: 3.6em;
	font-family: "Lobster", cursive;
	color: #f2e9c5;
	/* background: #595867; */
	text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1);
	font-weight: 600;
	opacity: 0.95;
}

h1:hover {
	opacity: 0.85;
}

// ------------------ X S ------------------
@media (max-width: 575.98px) {
	h1 {
		font-size: 2.3em;
	}
}

// ------------------S M A L L ------------------
@media (min-width: 576px) and (max-width: 767.98px) {
	h1 {
		font-size: 2.6em;
	}
}

// ------------------ M E D I U M ------------------
@media (min-width: 768px) and (max-width: 991.98px) {
	h1 {
		font-size: 3.0em;
	}
}

// ------------------ L A R G E ------------------
@media (min-width: 992px) and (max-width: 1199.98px) {
	h1 {
		font-size: 3.3em;
	}
}
