

<div id="window">
  <span id="fake-nav">
    <span class="circle"></span>
    <span class="circle"></span>
    <span class="circle"></span>
  </span>

  <div id="whiteboard">
    <div id="caption">
      <img src="../../assets/imgs/angle_bracket.svg" alt="Angle bracket">
      Github
      <img src="../../assets/imgs/angle_bracket.svg" alt="Angle bracket">
    </div>

    <app-contributions></app-contributions>

    <div class="cards">
      <img src="../../assets/imgs/card1.svg" alt="Card">
      <img src="../../assets/imgs/card1.svg" alt="Card">
      <img src="../../assets/imgs/card1.svg" alt="Card">
    </div>
  </div>
</div>

