:host {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#window {
  position: relative;
  max-width: 1223px;
  // min-height: 70vh;
  max-height: 670px;
  // max-height: 45rem;
  padding: 4rem 2rem 2rem 2rem;
  border-radius: 20px;

  background: var(--color-Light);
}

#fake-nav {
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  align-items: center;
  width: 100%;
  height: 2rem;

  border-radius: 20px 20px 0 0;
  background: var(--color-Sea-minus-1);

  .circle {
    display: inline-block;

    width: 12px;
    height: 12px;
    border-radius: 50%;

    margin-left: 8px;
    &:first-of-type {
      margin-left: 2rem;
    }

    background: var(--color-Light);
  }
}

#whiteboard {
  height: 100%;
  margin: 0;

  background: #FFFFFF;
  border-radius: 20px;

  overflow: hidden;
}

#caption {
  font-size: 40px;
  font-weight: 600;
  color: var(--color-Sea-minus-1);

  padding: 3rem 0;

  display: flex;
  justify-content: center;

  img {
    width: 25px;

    &:nth-of-type(2) {
      transform: rotate(180deg);
    }
  }
}

.cards {
  display: flex;
  justify-content: center;

  margin-top: 4rem;

  img {
    width: 7rem;
    margin: 0 2em;
  }
}

// ------------------ X S ------------------
@media (max-width: 575.98px) {
  #caption {
    font-size: 25px;
    padding: 2.3rem 0;

    img {
      width: 15px;
      margin: 0 .25rem;
    }
  }
  #window {
    padding: .75rem;
  }
  #whiteboard {
    max-height: 475px;
  }
}

// ------------------S M A L L ------------------
@media (min-width: 576px) and (max-width: 767.98px) {
  #whiteboard {
    max-height: 387px;
  }
  #caption {
    font-size: 33px;
    padding: 1.75rem 0 ;

    img {
      width: 20px;
    }
  }
  .cards {
    margin-top: 3.3rem;

    img {
      width: 5rem;
    }
  }
}

// ------------------ M E D I U M ------------------
@media (min-width: 768px) and (max-width: 991.98px) {
  #whiteboard {
    max-height: 500px;
  }
  #caption {
    padding: 2rem 0 ;
  }
}
// ------------------ L A R G E ------------------
@media (min-width: 992px) and (max-width: 1199.98px) {
  #whiteboard {
    max-height: 500px;
  }
  #caption {
    padding: 2.3rem 0;
  }
}
