<section class="py-5" id="certificatesSection">
  <div class="container-flex">
    <div *ngFor="let certificate of certificates">
      <div class="row w-100 my-3">
        <div class="col-lg-3"></div>
        <div class="col-lg-9 pl-lg-5">
          <div class="certificate" id="numba{{certificate.id}}">
            <p><span class="mx-3"><i class="far fa-star"></i></span>Certificate A la bama obama. Course named {{certificate.name}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
