@import '~@angular/material/theming';

@include mat-core();

$prtfl-theme-primary: mat-palette($mat-yellow, 50);
$prtfl-theme-accent: mat-palette($mat-deep-purple, 400);
$prtfl-theme-warn: mat-palette($mat-deep-orange, 700 );
$prtfl-theme-success: mat-palette($mat-purple, A400 );


$prtfl-theme: mat-light-theme($prtfl-theme-primary, $prtfl-theme-accent, $prtfl-theme-warn);

@include angular-material-theme($prtfl-theme);

$primary: map-get($prtfl-theme, primary);
$accent: map-get($prtfl-theme, accent);

:root {
  --color-primary: #{mat-color($prtfl-theme-primary)};
  --color-accent: #{mat-color($prtfl-theme-accent)};
  --color-warn: #{mat-color($prtfl-theme-warn)};
  --color-success: #{mat-color($prtfl-theme-success)};
}
