/* You can add global styles to this file, and also import other style files */
html,
body {
	height: 100%;
	width: 100%;
	margin: 0;
	/*background-color: #332821;*/
	background-color: rgb(49, 46, 55);
	color: rgb(237, 235, 216) !important;
	/* 228, 203, 228 */
  /* rgb(231, 209, 231); */
}

.darkMode {
  background-color: #28272b;
}

html {
  overflow-y: scroll;
  transition: background .35s ease-out;
  /* overflow-x: hidden; */
}

app-root {
  font-size: 16px !important;
  color: rgb(237, 235, 216) !important;
}

.stop-scrolling {
	height: 100%;
	overflow: hidden;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
