/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/purple-green.css";

html,
body {
	height: 100%;
	width: 100%;
	margin: 0;
	/*background-color: #332821;*/
	background-color: var(--light-bg-color);
	color: var(--default-letters) !important;
	/* 228, 203, 228 */
	/* rgb(231, 209, 231); */

	button:focus {
		outline: 0;
	}
}

.darkMode {
	background-color: var(--dark-bg-color);
}

html {
	overflow-y: scroll;
	transition: background 0.5s ease-out;
	/* overflow-x: hidden; */
}

app-root {
	font-size: 16px !important;
	// color: rgb(237, 235, 216) !important;
	color: var(--default-letters) !important;
}

.stop-scrolling {
	height: 100%;
	overflow: hidden;
}

html,
body {
	height: 100%;
}
body {
	margin: 0;
	font-family: Roboto, "Helvetica Neue", sans-serif;
}

// ------------------S M A L L ------------------
@media (min-width: 576px) and (max-width: 767.98px) {
	body {
		line-height: 1.7 !important;
	}
}
